@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

@font-face{
font-family:"Chancery";
src:url("image/Apple_Chancery.ttf");
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

#title {
  display: inline-block;
  width: 17%;
}

#title a {
  font-family: "Chancery" !important;
  font-size: 32px;
  color: #000000;
  text-decoration: none;
}

#title a img {
  height: 30px;
  vertical-align: baseline;
}

#search {
  display: inline-block;
  width: 60%;
  vertical-align: text-bottom;
}

#search input {
  float: left;
  width: 90%;
  height: 30px;
  border-width: 1px 0 1px 1px;
  border-style: solid;
  border-color: #bcbcbc;
  border-radius: 5px 0 0 5px;
}

#search input:focus {
  outline: none
}

#search button {
  float: left;
  border: 1px solid #bcbcbc;
  border-radius: 0 5px 5px 0;
}
.fa-search {
  font-size: 29px;
}

#sign {
  display: inline-block;
  width: 20%;
  vertical-align: super;
}

.sign-in {
  display: inline-block;
}

.sign-up {
  display: inline-block;
}

#nav {
  width: 100%;
  height: 70px;
}

#category {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

#category li {
  position: relative;
  float: left;
  width: 200px;
  margin: 0px;
  padding: 0px;
  line-height: 1.3em;
  border: 1px solid #000000;
}

#category li a {
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  color: #000000;
}

#category li:hover a {
  background-color: #ffffff;
  color: #2DB074;
}

.category {
  font-size: 20px;
}

.guide {
  font-size: 12px;
}

#category li:hover .sub-category {
  display: block;
}

.sub-category {
  display: none;
  position: absolute;
  right: -1px;
}

.sub-category ul li {
  list-style: none;
  text-align: center;
  background: #ffffff;
  color: #666666;
}

.sub-category li:hover {
  background: #2DB074;
  color: #ffffff;
}
